<img src="assets/potato.png">
<div class="content">
  <div class="col-md-12">
    <div class="col-md-6">
      <button class="btn btn-default" (click)="loadGame('F')">Facil</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-default" (click)="loadGame('N')">Normal</button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6">
      <button class="btn btn-default" (click)="loadGame('D')">Dificil</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-default" (click)="loadGame('I')">Imposible</button>
    </div>
  </div>
</div>
<br>