/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body {
    background: transparent !important;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
.header {
    -webkit-app-region: drag;
    width: 100%;
    height: 60px;
    margin-bottom: -60px;
}
img {
    border-radius: 5px 5px 0 0;
    width: 130px;
    height: 130px;
    margin-left: calc(50% - (130px / 2));
    margin-bottom: 15px;
}
table {
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 15px; 
    margin-bottom: 15px; 
}
.col-md-12 {
    display: flex;
}
.col-md-6 {
    width: 50%;
}
.btn {
    width: 100%;
    margin-top: 10px;
}
.btn-default {
    background-color: #E0E0E0
 !important;
}
.btn-info {
    background-color: #2196FF !important;
}
.btn-mine, .btn-ask, .btn-flag {
    display: block;
    width: 25px!important;
    height: 25px!important;
    border-radius: 5px;
    background: rgba(0,0,0,.1);
    margin: 2px;
    text-align: center;
}
.btn-number-1 { color: #2196FF !important; pointer-events: none; }
.btn-number-2 { color: #00C853 !important; pointer-events: none; }
.btn-number-3 { color: #FFA000 !important; pointer-events: none; }
.btn-number-4 { color: #FF6D00 !important; pointer-events: none; }
.btn-number-5 { color: #F44336 !important; pointer-events: none; }
.boom {
    color: transparent!important;
    background: url('assets/mine.png');
    background-size: contain;
}
.unactive { pointer-events: none; }
.banner {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 3.5em;
    text-shadow: 0px 2px 5px rgba(00, 00, 00, 0.3);
}
.win { color: #F44336 !important; }
.lose { color: #2196FF !important; }